.root {
    -fx-font-family: 'Arial', sans-serif;
}
.Anchor {
    -fx-background-color: #C1EDC9;
    -fx-border-color: darkgreen;
    -fx-border-width: 5px;
}
.TableView {
    -fx-background-color: #C1EDC9;
    -fx-border-color: darkgreen;

}

.button {
    -fx-background-color: lightgreen;
    -fx-background-radius: 15;
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-padding: 8px 16px;
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: #87cda3;
}

.labelEstilizado {
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-size: 50px;
    -fx-text-fill: #3498db;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, #2c3e50, 10, 0, 0, 0);
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #555;
}

.table-view .column-header {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-background-color: #C1EDC9;
}
.tab {
    -fx-background-color: #a2ddb0;
}
.tab-label {
    -fx-text-fill: #333;
}